*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../imgs/bg1.jpg);
    background-size: cover;
}

label{
    display: block;
    color: white;
    font-family: 'Lilita One', cursive;
    margin: 10px;
}
input,button{
    width: 300px;
    height: 30px;
    display: block;
    margin:10px
}
.allevent{
    border: 5px solid white;
    border-radius: 5px;
    width: 350px;
}
.allevent .title{
    color: white;
    font-family: 'Lilita One', cursive;
    text-align: center;
}
.allevent h3{
    display: inline-block;
    background-color: black;
    color: white;
    margin: 7px;
    width: 70px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-size: 30;
    font-family: 'Lilita One', cursive;

}
.days{
    margin-left: 40%;
    text-align: center;
}